
/* reset des parametres CSS*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  justify-content: center;
}

.container {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-wrap: wrap
}
.card{
  background-color: white;
  text-align: center;
  width : 60%;
  margin: 15px;
  padding:  15px;
  border-radius: 10px;
}
.profil {
  width: 200px;
  border-radius: 10px;
}
.btn {
  font-size: 15px;
  font-weight: bold;
}
.icones {
  width: 50px;
}
